@model Portfolio.Models.ProjectViewModel

@{
    ViewBag.Title = "UpdateProject";
}

<h2>UpdateProject</h2>

<div class="well row">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>ProjectViewModel</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <!--
            <div class="form-group">
                @Html.LabelFor(model => model.ProjectId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ProjectId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ProjectId, "", new { @class = "text-danger" })
                </div>
            </div>
            -->


            <div class="form-group">
                @Html.LabelFor(model => model.ProjectName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ProjectName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ProjectName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ImagePath, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ImagePath, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ImagePath, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ProjectUrl, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ProjectUrl, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ProjectUrl, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.GitHubRep, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.GitHubRep, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.GitHubRep, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input class="hidden" value="@Model.ProjectId" name="id" />
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</div>

<div class="row">
    <div class="well col-xs-6">
        <h2>Assigned Technologies</h2>
        <table class="table table-condensed">
            @foreach (var tech in Model.Technologies)
            {
                <tr>
                    <td>@tech.Name</td>
                    <td>@Html.ActionLink("Remove From Project", "RemoveTechnology", new { techId = @tech.TechId, projectId = @Model.ProjectId }, new { @class = "btn btn-default btn-xs " })</td>
                </tr>
            }
        </table>
    </div>
    <div class="well col-xs-6">
        <h2>Technology Options</h2>
        <table class="table table-condensed">
            @foreach (var tech in ViewBag.Technologies)
            {
                <tr>
                    <td>@tech.Name</td>
                    <td>@Html.ActionLink("Add Technology To Project", "AddExistingTechnology", new { techId = @tech.TechId, projectId = @Model.ProjectId }, new { @class = "btn btn-default btn-xs " })</td>
                </tr>

            }
        </table>
        @using (Html.BeginForm("AddTechToProject", "Home"))
        {
            <div class="form-group">
                <input type="text" name="technology" placeholder="Enter New Technology" class="form-control" />
            </div>

            <input type="hidden" name="id" value="@Model.ProjectId" />
            <input type="submit" value="Add New Technology"/>
        }
    </div>


</div>

<div class="row">
    <div class="well col-xs-6">
        <h2>Assigned Features</h2>
        <table class="table table-condensed">
            @foreach (var feature in Model.Features)
            {
                <tr>
                    <td>@feature.Description</td>
                    <td>@Html.ActionLink("Remove From Project", "RemoveFeature", new { featureId = @feature.FeatureId, projectId = @Model.ProjectId }, new { @class = "btn btn-default btn-xs " })</td>
                </tr>
            }
        </table>
    </div>
    <div class="well col-xs-6">
        <h2>Feature Options</h2>
        <table class="table table-condensed">
            @foreach (var feature in ViewBag.Features)
            {
                <tr>
                    <td>@feature.Description</td>
                    <td>@Html.ActionLink("Add Feature To Project", "AddExistingFeature", new { featureId = @feature.FeatureId, projectId = @Model.ProjectId }, new { @class = "btn btn-default btn-xs " })</td>
                </tr>
            }
        </table>
        @using (Html.BeginForm("AddFeature", "Home"))
        {
            <div class="form-group">
                <input type="text" name="feature" placeholder="Enter New Feature Description" class="form-control" />
            </div>

            <input type="hidden" name="id" value="@Model.ProjectId" />
            <input type="submit" />
        }
    </div>
 
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
